// Fuentes
$fuente: 'Montserrat', Arial, Helvetica, sans-serif;

// Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$rojo: #d32f2f;
$gris: #cccccc;
$negro: #000000;
$blanco: #ffffff;
$azul: #1e88e5;
$ambar: #ffb300;
$verde: #43a047;
$indigo: #3949ab;
$morado: #5e35b1;
$naranja: #f4511e;
$gris-claro: #fafafa;
$gris-oscuro: #333333;
$gris-azulado: #546e7a;

$separacion: 5rem;

// Fuentes
$slim: 300;
$regular : 400;
$bold: 700;
